
html, body { margin:0; padding:0; overflow:hidden }
svg { position:fixed; top:0; bottom:0; width: 100%; height: 100%; }

body {
   background-color: #666666;/* #BBBBBB; */
}

#left-champions {
   float: left
}

#right-champions {
   float: right
}

.champions {
   border: 1px solid black;
}

.champion-image {
   width: 60px;
   height: 60px;
}

#strategy-box {
   border: 1px solid black;
}

#enemy-strategies {
   float: right;
}

#ally-strategies {
   float: right;
}

#svg {
   width: 100%;
   height: 100%;
}

.champion-select {
   padding-right: 1px;
   width: 100px;
   height: 25px;
   background-color: transparent;
   color: white;
   border: 0px;
}

.ally-select {
}

.enemy-select {
   text-align: right;
}


